@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Task Tracker!</h1>
    <br/>
    <h2>We learn from “The 7 Habits of Highly Effective People” how to break our tasks 
        <br/>into the 4 quadrants depicted below. Use this app to effectively manage your tasks!</h2>
</div>
<img src="~/img/QuadrantMatrix.png" alt="Centered Image" style="display: block; margin: auto;" width="500" height="500" />
